In [2]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 4.0 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (111 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.2/111.2 KB 8.8 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.2-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 52.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.22.4)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 7.1 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 14.1 MB/s eta 0:00:00
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 13.7 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (3.0.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.2 frozendict-2.3.5 html5lib-1.1 requests-2.28.2 soupsieve-2.4 yfinance-0.2.12

In [3]:
import yfinance as yf
tickerStrings = "SNOW".split()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", start="2021-03-06", end="2023-03-06")
    data['ticker'] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
    # data.to_csv(f'/content/drive/MyDrive/Colab Notebooks/ticker/ticker_{ticker}.csv')  # ticker_AAPL.csv for example
    data.to_csv(f'./ticker/ticker_{ticker}.csv')
# tickerStrings = ["SPY", "AAPL", "TSLA", "AMZN", "META"]
# for ticker in tickerStrings:
#     data = yf.download(ticker, group_by="Ticker", start="2021-03-06", end="2023-03-06")
#     data['ticker'] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
#     data.to_csv(f'/content/drive/MyDrive/Colab Notebooks/ticker/ticker_{ticker}.csv')  # ticker_AAPL.csv for example

[*********************100%***********************]  1 of 1 completed

In [1]:
import yfinance as yf
tick = yf.Ticker('GOOG')
tick.fast_info

lazy-loading dict with keys = ['currency', 'dayHigh', 'dayLow', 'exchange', 'fiftyDayAverage', 'lastPrice', 'lastVolume', 'marketCap', 'open', 'previousClose', 'quoteType', 'regularMarketPreviousClose', 'shares', 'tenDayAverageVolume', 'threeMonthAverageVolume', 'timezone', 'twoHundredDayAverage', 'yearChange', 'yearHigh', 'yearLow']

In [52]:
tick.get_news()

[{'uuid': 'afda5211-0424-310f-8b7b-e3df9cbf8b44',
  'title': "Today's top stories: Google's AI race, Netflix earnings, SpaceX cancels launch",
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/todays-top-stories-googles-ai-210828417.html',
  'providerPublishTime': 1681765708,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/6xl1gPPjT6XjwFIp6xw4SA--~B/aD0xNzkzO3c9MzE4NjthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2023-04/fa9fa260-dd63-11ed-9bb6-7aea8a7baefc',
     'width': 3186,
     'height': 1793,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/8psesXNvsiX50bcXzh9vNQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2023-04/fa9fa260-dd63-11ed-9bb6-7aea8a7baefc',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NFLX', 'GOOG', 'GOOGL']},
 {'uuid': '7dd3b8e1-71ec-35aa-afe5-72c9d36201e8',
  'title': "Dow Jones Gains As Schwab Boosts Banks; Elon Musk Is 'Looking Into' This Tesla Problem",
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/7dd3b8e1-71ec-35aa-afe5-72c9d36201e8/dow-jones-gains-as-schwab.html',
  'providerPublishTime': 1681763054,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/mv76mnreVFfOd_7.WdaWHg--~B/aD01MzM7dz05NDU7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/ibd.com/0640c5c3eb2d6ac0212ead379ba74b4f',
     'width': 945,
     'height': 533,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/fVz5LZxR_6agKySFr2DOCA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/0640c5c3eb2d6ac0212ead379ba74b4f',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TSLA', 'GOOGL', 'RBLX', '^DJI', 'MSFT']},
 {'uuid': '6708d1ef-b4a8-3b96-9284-94b3f5ee60b1',
  'title': 'US STOCKS-Wall St ends higher; investors await earnings, Fed cues',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/us-stocks-wall-st-ends-202039904.html',
  'providerPublishTime': 1681762839,
  'type': 'STORY',
  'relatedTickers': ['COMP', '^GSPC', '^DJI', 'GOOGL', 'STT']},
 {'uuid': '7dc6ce0e-9b99-3cc3-b722-216ec43d028d',
  'title': "Alphabet Investors Shouldn't Sleep on This Sleeping Giant",
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/7dc6ce0e-9b99-3cc3-b722-216ec43d028d/alphabet-investors-shouldn%27t.html',
  'providerPublishTime': 1681762681,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/t1GmuiaD.MDcpmBJRz6tAA--~B/aD03MjA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/44084caeefc0dae73bfb504ea9964fe2',
     'width': 1280,
     'height': 720,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/.kCdPTBxZlaid3yaX.G9DA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/44084caeefc0dae73bfb504ea9964fe2',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOGL']},
 {'uuid': 'c92be554-96c2-332d-9902-3a293e72861e',
  'title': "Google 'remains the leader in AI' despite lack of direct-to-consumer offerings: Analyst",
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/google-remains-leader-ai-despite-201345816.html',
  'providerPublishTime': 1681762425,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/tS9gJqSGlU2WYg9uHPATug--~B/aD0xNzYxO3c9MzEzMzthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2023-04/59d0a890-dd5c-11ed-a5eb-dd2c044b78ba',
     'width': 3133,
     'height': 1761,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/inIUyoXhogHl.b6L57unGQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2023-04/59d0a890-dd5c-11ed-a5eb-dd2c044b78ba',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOG', 'GOOGL', 'MSFT', 'AAPL']},
 {'uuid': 'b78f4119-4123-3035-ae4c-39584a66a41f',
  'title': 'Google Stock Falls On Report Samsung Could Switch To Microsoft Search Engine',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/b78f4119-4123-3035-ae4c-39584a66a41f/google-stock-falls-on-report.html',
  'providerPublishTime': 1681762412,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/jBUyNlSYgBLkhhANQCUn_A--~B/aD01MTE7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/2ec600f8fb18bd03c5575234f57abae5',
     'width': 1000,
     'height': 511,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/Uv.ikVCNTIrDIGR4mmR8xQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/2ec600f8fb18bd03c5575234f57abae5',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOGL', 'MSFT', 'AAPL']},
 {'uuid': '47874b95-b560-3803-9c6e-57d84d223a03',
  'title': 'US STOCKS-Wall St edges up; investors await earnings, Fed cues',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/us-stocks-wall-st-edges-200027726.html',
  'providerPublishTime': 1681761627,
  'type': 'STORY',
  'relatedTickers': ['COMP', '^GSPC', '^DJI', 'GOOGL', 'STT']},
 {'uuid': '834d7d61-eaaf-30b1-947c-b37fbe203559',
  'title': "AI concerns: 'There are tremendous ethical questions' for decision-making processes, professor says",
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/ai-concerns-tremendous-ethical-questions-193404899.html',
  'providerPublishTime': 1681760044,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/UmjGEWtRxI5LWWXwvuiHdg--~B/aD0xNzM2O3c9MzA4MzthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2023-04/ce8015a0-dd56-11ed-92bf-6c087a86ee07',
     'width': 3083,
     'height': 1736,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/WV.ZzetG9VzrDmQrA0C.Tg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2023-04/ce8015a0-dd56-11ed-92bf-6c087a86ee07',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOG', 'GOOGL']}]

In [64]:
from stockstats import wrap
data = yf.download("GOOG", group_by="Ticker", start="2010-01-01", end="2017-09-02")
data.drop(['Close'],axis=1, inplace=True)
data = data.rename(columns={'Adj Close': 'Close'})
data = wrap(data)
cols = [
    "open",
    "high",
    "low",
    "close",
    "volume",
    "macd",
    "boll_ub",
    "boll_lb",
    "rsi_30",
    "cci_30",
    "dx_30",
    "close_30_sma",
    "close_60_sma",
]
data = data[cols]
data = data.reset_index()
data.rename(columns={'open':'Open', 'high': 'High', 'low': 'Low', 'close':'Adj Close', 'volume': 'Volume'}, inplace=True)
data

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Adj Close,Volume,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma
0,2010-01-04,15.615220,15.678981,15.547723,15.610239,78541293,0.000000,NaN,NaN,NaN,NaN,NaN,15.610239,15.610239
1,2010-01-05,15.620949,15.637387,15.480475,15.541497,120638494,-0.001542,15.673084,15.478653,0.000000,-66.666667,100.000000,15.575868,15.575868
2,2010-01-06,15.588072,15.588072,15.102393,15.149715,159744526,-0.014114,15.930674,14.936960,0.000000,-100.000000,100.000000,15.433817,15.433817
3,2010-01-07,15.178109,15.193053,14.760922,14.797037,257533695,-0.032220,16.029650,14.519594,0.000000,-116.655265,100.000000,15.274622,15.274622
4,2010-01-08,14.744733,15.024933,14.672753,14.994298,189680313,-0.033530,15.918854,14.518261,20.412438,-85.711071,100.000000,15.218557,15.218557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,2017-08-28,45.799999,45.962250,45.593498,45.690498,21730000,-0.287069,46.822109,45.259591,46.890588,-77.932884,16.098429,46.631100,46.928300
1927,2017-08-29,45.255001,46.166500,45.250000,46.064499,23712000,-0.258124,46.762197,45.271802,48.715526,-68.662587,22.636992,46.557583,46.876308
1928,2017-08-30,46.002499,46.540951,45.982498,46.478500,26024000,-0.199478,46.754531,45.275368,50.657102,-16.354392,12.427188,46.488716,46.837142
1929,2017-08-31,46.588001,47.098999,46.588001,46.966499,31652000,-0.112329,46.905749,45.202550,52.834477,53.603256,0.737804,46.440683,46.802467
1930,2017-09-01,47.056499,47.124001,46.757500,46.867001,18948000,-0.050706,46.992540,45.162660,52.347258,71.720205,1.291362,46.381383,46.764075

In [65]:
start_index = data.loc[data['Date'] == '2014-01-02'].index[0]
print(start_index)
start_index = start_index - 1000
assert(start_index >= 0)
print(start_index)
print(data.iloc[start_index]['Date'])
total_data_size = len(data)
print(len(data))
data[start_index:]

1006
6
2010-01-12 00:00:00
1931

,open,high,low,adj close,volume,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma
date,,,,,,,,,,,,,
2010-01-12,14.885456,14.898158,14.645107,14.706875,194859654,-0.046776,15.808275,14.412095,15.493867,-86.707574,93.541728,15.110185,15.110185
2010-01-13,14.358431,14.654571,14.293923,14.622441,260838034,-0.058166,15.781786,14.316648,14.434139,-112.678997,95.483660,15.049217,15.049217
2010-01-14,14.542989,14.799528,14.515841,14.691184,170239717,-0.061758,15.735072,14.283799,19.094788,-74.485759,72.585904,15.009436,15.009436
2010-01-15,14.778108,14.783587,14.397036,14.445853,218194794,-0.076045,15.724500,14.181655,15.897859,-92.292955,75.137354,14.953077,14.953077
2010-01-19,14.475741,14.705381,14.353450,14.635642,173315202,-0.075190,15.680675,14.167764,25.834948,-81.117030,76.012873,14.924220,14.924220
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-28,45.799999,45.962250,45.593498,45.690498,21730000,-0.287069,46.822109,45.259591,46.890588,-77.932884,16.098429,46.631100,46.928300
2017-08-29,45.255001,46.166500,45.250000,46.064499,23712000,-0.258124,46.762197,45.271802,48.715526,-68.662587,22.636992,46.557583,46.876308
2017-08-30,46.002499,46.540951,45.982498,46.478500,26024000,-0.199478,46.754531,45.275368,50.657102,-16.354392,12.427188,46.488716,46.837142
2017-08-31,46.588001,47.098999,46.588001,46.966499,31652000,-0.112329,46.905749,45.202550,52.834477,53.603256,0.737804,46.440683,46.802467
2017-09-01,47.056499,47.124001,46.757500,46.867001,18948000,-0.050706,46.992540,45.162660,52.347258,71.720205,1.291362,46.381383,46.764075

In [66]:
import os
from stockstats import wrap
stocks = os.listdir('price')
name_change_table = {
    "FB": "META",
}
for stock in stocks:
    stock = stock.strip('.csv')
    if stock in name_change_table:
        stock = name_change_table[stock]
    data = yf.download(stock, group_by="Ticker", start="2010-01-01", end="2017-09-02")
    if len(data) < total_data_size:
        continue
    data.drop(['Close'],axis=1, inplace=True)
    data = data.rename(columns={'Adj Close': 'Close'})
    data = wrap(data)
    cols = [
        "open",
        "high",
        "low",
        "close",
        "volume",
        "macd",
        "boll_ub",
        "boll_lb",
        "rsi_30",
        "cci_30",
        "dx_30",
        "close_30_sma",
        "close_60_sma",
    ]
    data = data[cols]
    data = data.reset_index()
    data.rename(columns={'open':'Open', 'high': 'High', 'low': 'Low', 'close':'Adj Close', 'volume': 'Volume'}, inplace=True)
    data = data[start_index:]
    # data.to_csv(f'/content/drive/MyDrive/Colab Notebooks/ticker/ticker_{ticker}.csv')  # ticker_AAPL.csv for example
    data.to_csv(f'./price_7years/{stock}.csv')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BBL: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CELG: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CHL: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HRG: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PCLN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PICO: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PTR: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RDS-B: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SNP: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TOT: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UN: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UTX: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
import pandas as pd
from stockstats import wrap

df = pd.read_csv('./price/AAPL.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-09-04,95.108574,96.448570,94.928574,96.424286,87.121140,91973000
1,2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800
2,2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100
3,2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600
4,2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500
...,...,...,...,...,...,...,...
1253,2017-08-28,160.139999,162.000000,159.929993,161.470001,161.470001,25966000
1254,2017-08-29,160.100006,163.119995,160.000000,162.910004,162.910004,29516900
1255,2017-08-30,163.800003,163.889999,162.610001,163.350006,163.350006,27269600
1256,2017-08-31,163.639999,164.520004,163.479996,164.000000,164.000000,26785100
1257,2017-09-01,164.800003,164.940002,163.630005,164.050003,164.050003,16552800

In [13]:
stock_df = wrap(df)
stock_df

,open,high,low,close,adj close,volume
date,,,,,,
2012-09-04,95.108574,96.448570,94.928574,96.424286,87.121140,91973000
2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800
2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100
2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600
2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500
...,...,...,...,...,...,...
2017-08-28,160.139999,162.000000,159.929993,161.470001,161.470001,25966000
2017-08-29,160.100006,163.119995,160.000000,162.910004,162.910004,29516900
2017-08-30,163.800003,163.889999,162.610001,163.350006,163.350006,27269600
2017-08-31,163.639999,164.520004,163.479996,164.000000,164.000000,26785100
2017-09-01,164.800003,164.940002,163.630005,164.050003,164.050003,16552800

In [19]:
stock_df

,open,high,low,close,adj close,volume,macd,macds,macdh,high_delta,...,mdi_30,pdm,pdm_30_ema,pdm_30,pdi_30,dx_30,close_30_sma,boll,boll_ub,boll_lb
date,,,,,,,,,,,,,,,,,,,,,
2012-09-04,95.108574,96.448570,94.928574,96.424286,87.121140,91973000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,96.424286,96.424286,NaN,NaN
2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800,-0.015192,-0.008440,-0.006752,0.172859,...,0.000000,0.172859,0.089310,0.089310,7.217408,100.000000,96.085716,96.085716,97.043336,95.128097
2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100,0.007399,-0.001949,0.009348,0.277146,...,0.000000,0.277146,0.156141,0.156141,12.927886,100.000000,96.260478,96.260478,97.168782,95.352174
2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600,0.039001,0.011923,0.027078,0.598572,...,0.000000,0.598572,0.278047,0.278047,24.341409,100.000000,96.496786,96.496786,97.698234,95.295339
2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500,-0.045266,-0.005089,-0.040177,0.115707,...,28.754370,0.000000,0.214785,0.214785,13.899806,34.825579,96.132857,96.132857,98.064566,94.201148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-28,160.139999,162.000000,159.929993,161.470001,161.470001,25966000,2.298846,2.419112,-0.120266,1.440002,...,22.038301,1.440002,0.800990,0.800990,31.529870,17.718673,155.867335,158.361501,163.825357,152.897646
2017-08-29,160.100006,163.119995,160.000000,162.910004,162.910004,29516900,2.433127,2.421915,0.011212,1.119995,...,20.460874,1.119995,0.821571,0.821571,32.095929,22.138056,156.295001,159.004501,163.238301,154.770701
2017-08-30,163.800003,163.889999,162.610001,163.350006,163.350006,27269600,2.545705,2.446673,0.099032,0.770004,...,19.465205,0.770004,0.818244,0.818244,32.507699,25.094795,156.706001,159.315002,163.871614,154.758390
2017-08-31,163.639999,164.520004,163.479996,164.000000,164.000000,26785100,2.656748,2.488688,0.168060,0.630005,...,18.540126,0.630005,0.806100,0.806100,32.606897,27.502619,157.161335,159.736501,164.392993,155.080009
2017-09-01,164.800003,164.940002,163.630005,164.050003,164.050003,16552800,2.717459,2.534442,0.183017,0.419998,...,17.620098,0.419998,0.781190,0.781190,32.102339,29.126168,157.620668,160.119502,164.876044,155.362959